*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    width: 300px;
    display: flex;
    justify-content: space-around;
    background: rgb(120,169,213);
    background: linear-gradient(90deg, rgba(120,169,213,1) 18%, rgba(121,115,230,1) 74%);
    border-radius: 15px;
    margin: 30px;
}
.icon {
    padding-top: 20px;
    position: relative;
}
h5, h2{
    color: #fff;
    font-family: sans-serif;
}
h5{
    font-weight: 200;
}
h5:first-of-type{
    padding: 30px 0 20px 0;
}
h5:nth-of-type(2){
    padding: 30px 0 25px 0;
}
.icon::before{
    content: "";
    width: 140px;
    height: 140px;
    border-radius: 50%;
    position: absolute;
    background-color: #fff;
    opacity: 0.3;
    top: -15px;
    right: -70px;
}
.icon::after{
    content: "";
    width: 140px;
    height: 140px;
    border-radius: 50%;
    position: absolute;
    background-color: #fff;
    opacity: 0.3;
    bottom: -50px;
    right: -50px;
}